<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Inner Page - S U F R A Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="index.html">S U F R A</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <!-- <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav> -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Page</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p>SUFRA (Sistem Upload Form Rencana Aksi) adalah sebuah platform digital yang inovatif dirancang khusus untuk mendukung Badan Pusat Statistik (BPS) dalam pengelolaan Form Rencana Aksi (FRA). Dengan kehadiran SUFRA, BPS dapat mengoptimalkan proses pengisian, pengunggahan, monitoring, dan pelaporan FRA secara efisien dan terstruktur. Platform ini tidak hanya mengintegrasikan teknologi terkini untuk menyederhanakan tugas-tugas administratif, tetapi juga memberikan solusi yang menghadirkan kecepatan dan akurasi dalam dokumentasi rencana aksi.</p>
        <p>SUFRA menawarkan fitur-fitur canggih seperti login dengan akun Google untuk memudahkan akses, baik bagi pegawai BPS maupun administrator di divisi perencanaan. Pegawai BPS dapat dengan mudah mengisi dan mengunggah FRA tim mereka melalui antarmuka yang intuitif, sementara administrator dapat memantau status pengunggahan dari dashboard sentral. Fitur notifikasi real-time memastikan bahwa setiap langkah dalam proses perencanaan terpantau secara langsung, sehingga meminimalkan risiko keterlambatan atau kehilangan data.</p>
        <p>Selain itu, SUFRA menyediakan kemudahan dalam pembuatan laporan kinerja berdasarkan FRA yang telah diunggah. Administrator dapat dengan cepat menghasilkan laporan yang terstruktur dan rinci untuk evaluasi dan analisis lebih lanjut. Hal ini tidak hanya meningkatkan transparansi dalam pengelolaan rencana aksi, tetapi juga memungkinkan BPS untuk membuat keputusan strategis yang lebih cerdas berdasarkan data yang terdokumentasi dengan baik.</p>
        <p>Dengan komitmen untuk terus mengembangkan dan meningkatkan fungsionalitasnya, SUFRA diharapkan dapat menjadi bagian integral dalam upaya BPS untuk meningkatkan efisiensi operasional dan efektivitas perencanaan strategis. Platform ini tidak hanya membantu dalam memenuhi kebutuhan administratif harian, tetapi juga menjadi alat yang berharga dalam transformasi digital yang sedang berlangsung di dalam lembaga pemerintahan.</p>
        
        <h4>Visi dan Misi</h4>
        <p>SUFRA (Sistem Upload Form Rencana Aksi) memiliki visi untuk menjadi pionir dalam mendukung Badan Pusat Statistik (BPS) dalam mencapai efisiensi dan transparansi maksimal dalam pengelolaan Form Rencana Aksi (FRA). Kami berkomitmen untuk menghadirkan solusi teknologi terdepan yang tidak hanya menyederhanakan proses pengisian, pengunggahan, dan pemantauan FRA, tetapi juga memberdayakan BPS dengan alat yang dibutuhkan untuk pengambilan keputusan yang berbasis data dan strategis.</p>
        <p>Misi SUFRA adalah menyediakan platform yang andal dan efisien bagi pegawai BPS dalam mengelola FRA mereka. Kami berusaha untuk mempermudah akses dan manajemen FRA melalui fitur-fitur seperti login dengan akun Google, antarmuka pengguna yang intuitif, dan notifikasi real-time. Dengan menyediakan dashboard interaktif yang memungkinkan pengawasan langsung terhadap status pengunggahan FRA, SUFRA membantu memastikan bahwa setiap langkah dalam perencanaan dan evaluasi dapat dilakukan dengan lancar dan tepat waktu.</p>
        <p>Kami juga berkomitmen untuk meningkatkan transparansi dalam proses perencanaan dengan menyediakan laporan kinerja yang terstruktur dan mudah diakses. Hal ini tidak hanya membantu BPS dalam mengevaluasi kinerja tim dan proyek secara menyeluruh, tetapi juga memungkinkan mereka untuk mengidentifikasi peluang perbaikan dan pengembangan lebih lanjut. Dengan fokus pada efisiensi operasional dan integrasi teknologi yang memadai, SUFRA bertujuan untuk menjadi mitra yang tak tergantikan dalam upaya BPS untuk mencapai tujuan strategisnya dengan lebih efektif dan transparan.</p>
        <h4>Fitur Utama</h4>
        <p>Berikut adalah beberapa fitur utama dari SUFRA (Sistem Upload Form Rencana Aksi):
        <ol>
         <li> Login dengan Akun Google: SUFRA menyediakan akses yang aman dan mudah bagi pegawai BPS dengan memanfaatkan login menggunakan akun Google. Fitur ini mempermudah proses autentikasi dan mengurangi hambatan dalam penggunaan platform.</li>
         <li>Antarmuka Pengguna Intuitif: Platform ini dirancang dengan antarmuka pengguna yang intuitif, memungkinkan pengguna untuk dengan cepat mengisi dan mengunggah Form Rencana Aksi (FRA) tanpa perlu pelatihan khusus.</li>
         <li>Pengunggahan dan Pengisian Formulir FRA: SUFRA memungkinkan pegawai BPS untuk mengunggah dan mengisi formulir FRA secara online. Proses ini dapat dilakukan dengan mudah dan efisien, meminimalkan kebutuhan untuk pengelolaan manual.</li>        
         <!-- <li>Notifikasi Real-Time: Fitur notifikasi real-time memberikan informasi langsung kepada pengguna mengenai status pengunggahan FRA. Hal ini memungkinkan pegawai BPS untuk mengetahui secara cepat apakah FRA mereka telah berhasil diunggah atau memerlukan tindakan lebih lanjut.</li>         -->
         <li>Dashboard Administratif: Administrator di divisi perencanaan BPS memiliki akses ke dashboard yang menyediakan visibilitas penuh terhadap semua FRA yang diunggah. Dashboard ini memungkinkan mereka untuk memantau kemajuan tim, meninjau status pengunggahan, dan mengelola dokumentasi secara efektif.</li>        
         <li>Generasi Laporan Kinerja: SUFRA dapat menghasilkan laporan kinerja berdasarkan data FRA yang terkumpul. Laporan ini disajikan secara terstruktur dan dapat diakses dengan mudah, membantu BPS dalam evaluasi kinerja tim dan proyek serta perencanaan strategis lebih lanjut.</li>
         <li>Pengaturan Peran dan Hak Akses: Platform ini menyediakan pengaturan yang fleksibel untuk peran pengguna dan hak akses. Hal ini memungkinkan administrator untuk mengontrol siapa yang memiliki akses ke fitur tertentu, meningkatkan keamanan dan pengelolaan data.</li>
        </ol>        
        <p>Fitur-fitur ini dirancang untuk meningkatkan efisiensi, transparansi, dan keandalan dalam pengelolaan Form Rencana Aksi di lingkungan BPS, membantu dalam pencapaian tujuan strategis lembaga dengan lebih efektif.</p>
        <h4>Aktor</h4>
        <p>Dalam SUFRA (Sistem Upload Form Rencana Aksi), terdapat dua aktor utama yang terlibat dalam penggunaan platform ini:</p>
        <ol>
          <li>Pegawai BPS (User): Merupakan aktor pertama yang menggunakan SUFRA untuk mengisi dan mengunggah Form Rencana Aksi (FRA) mereka. Pegawai BPS menggunakan platform ini untuk melakukan tugas administratif terkait perencanaan dan pelaporan, seperti pengisian formulir FRA sesuai dengan proyek atau kegiatan yang sedang mereka tangani.</li>
          <li>Administrator (Divisi Perencanaan): Aktor kedua adalah administrator di divisi perencanaan BPS. Mereka memiliki peran untuk memantau dan mengelola seluruh proses pengunggahan FRA dari berbagai tim dan proyek. Administrator menggunakan dashboard administratif SUFRA untuk mengawasi status pengunggahan, menghasilkan laporan kinerja berdasarkan data yang terkumpul, serta mengatur peran dan hak akses pengguna lainnya di platform ini.</li>
        </ol>
        <p>Kedua aktor ini berperan penting dalam menjaga kelancaran operasional SUFRA, memastikan bahwa proses perencanaan, pelaporan, dan evaluasi di BPS dapat dilakukan dengan efisien, transparan, dan sesuai dengan kebutuhan organisasi.</p>
        <h4>Komitmen Kami</h4>
        <p>Komitmen kami di SUFRA (Sistem Upload Form Rencana Aksi) didasarkan pada keyakinan kami akan pentingnya memberikan solusi teknologi yang bermanfaat dan mendukung bagi Badan Pusat Statistik (BPS) dalam mencapai tujuan strategis mereka. Kami berkomitmen untuk terus mengembangkan platform ini menjadi lebih baik, dengan fokus utama pada efisiensi operasional, transparansi, dan akurasi dalam pengelolaan Form Rencana Aksi (FRA).</p>
        <p>Pertama, kami berupaya untuk menyediakan pengalaman pengguna yang optimal bagi pegawai BPS dengan menghadirkan antarmuka yang intuitif dan mudah digunakan. Kami percaya bahwa teknologi harus mempermudah, bukan mempersulit, tugas-tugas administratif seperti pengisian dan pengunggahan FRA. Dengan login menggunakan akun Google, kami memastikan akses yang aman dan mudah bagi semua pengguna.</p>
        <p>Kedua, kami berkomitmen untuk memberikan dukungan yang konsisten kepada administrator di divisi perencanaan BPS. Kami menyediakan dashboard administratif yang memberikan visibilitas penuh terhadap seluruh proses pengunggahan FRA, notifikasi real-time, dan kemampuan untuk menghasilkan laporan kinerja yang terstruktur dan informatif. Hal ini memungkinkan administrator untuk mengambil keputusan yang tepat waktu dan berdasarkan data yang akurat.</p>   
        <p>Ketiga, kami memprioritaskan keamanan data dan privasi pengguna dalam setiap langkah pengembangan dan pengelolaan SUFRA. Kami mengimplementasikan standar keamanan tinggi dan prosedur yang ketat untuk melindungi informasi sensitif yang diunggah oleh pengguna. Kepercayaan pengguna dalam keamanan data mereka adalah prioritas utama kami.</p>
        <p>Terakhir, kami mengakui bahwa teknologi tidak statis, dan kami berkomitmen untuk terus melakukan peningkatan dan inovasi pada SUFRA sesuai dengan umpan balik dari pengguna dan perkembangan kebutuhan BPS. Kami siap untuk menjadi mitra yang handal dalam mendukung BPS dalam mencapai tujuan strategis mereka melalui pemanfaatan teknologi yang efektif dan berkelanjutan.</p>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>S U F R A</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>S U F R A</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/S U F R A-free-skin-bootstrap-3/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>